<div>
    <div class="page-header">
        <h1 class="text-muted">Welcome! </h1>
        <hr>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Merchant Balance - Today
                </div>
                <div class="card-block">
                    Merchant Balance here
                </div>
            </div>

        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Total Running Balance
                </div>
                <div class="card-block bg-white">
                    Total Running Balance here
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header card-default">
                    Transaction Success Rate
                </div>
                <div class="card-block bg-white">
                    Total Transaction Success Rate here
                </div>
            </div>

        </div>


        <!-- /.col-sm-4 -->
    </div>
    



<div class="page-header">
    <h4 class="text-muted">Recent Payins</h4>
    <hr>
</div>
<div class="card mb-3">
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PO Bill Number</th>
                    <th>Cart ID</th>
                    <th>Payment Type</th>
                    <th>Currency</th>
                    <th>Order Amount</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Charge</th>
                    <th>Status</th>
                    <th>Created Time</th>
                    <th>Completed Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PG-123</td>
                    <td>M-123</td>
                    <td>Bank Transfer</td>
                    <td>CNY</td>
                    <td>10.00</td>
                    <td>9.91</td>
                    <td>0.9</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>PG-123</td>
                    <td>M-123</td>
                    <td>Bank Transfer</td>
                    <td>CNY</td>
                    <td>10.00</td>
                    <td>9.91</td>
                    <td>0.9</td>
                    <td class="text-muted">Pending</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>PG-123</td>
                    <td>M-123</td>
                    <td>Bank Transfer</td>
                    <td>CNY</td>
                    <td>10.00</td>
                    <td>9.91</td>
                    <td>0.9</td>
                    <td class="text-danger">Failed</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>PG-123</td>
                    <td>M-123</td>
                    <td>Bank Transfer</td>
                    <td>CNY</td>
                    <td>10.00</td>
                    <td>9.91</td>
                    <td>0.9</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>PG-123</td>
                    <td>M-123</td>
                    <td>Bank Transfer</td>
                    <td>CNY</td>
                    <td>10.00</td>
                    <td>9.91</td>
                    <td>0.9</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="page-header">
    <h4 class="text-muted">Recent Payouts</h4>
    <hr>
</div>
<div class="card mb-3">
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Merchant Payout ID</th>
                    <th>Merchant Transaction ID</th>
                    <th>Batch ID</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Sent Date</th>
                    <th>Processed Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>M-123456</td>
                    <td>123456</td>
                    <td>1223333</td>
                    <td>CNY</td>
                    <td>Amount</td>
                    <td class="text-success">Completed</td>
                    <td></td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>M-123456</td>
                    <td>123456</td>
                    <td>1223333</td>
                    <td>CNY</td>
                    <td>Amount</td>
                    <td class="text-muted">Pending</td>
                    <td></td>
                    <td>2017-10-23 08:27:54</td>
                    <td></td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>M-123456</td>
                    <td>123456</td>
                    <td>1223333</td>
                    <td>CNY</td>
                    <td>Amount</td>
                    <td class="text-danger">Failed</td>
                    <td>Invalid Recipient</td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>M-123456</td>
                    <td>123456</td>
                    <td>1223333</td>
                    <td>CNY</td>
                    <td>Amount</td>
                    <td class="text-success">Completed</td>
                    <td></td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
                <tr>
                    <td>M-123456</td>
                    <td>123456</td>
                    <td>1223333</td>
                    <td>CNY</td>
                    <td>Amount</td>
                    <td class="text-success">Completed</td>
                    <td></td>
                    <td>2017-10-23 08:27:54</td>
                    <td>2017-10-23 08:54:01</td>
                    <td><a href="javascript:;" class="btn btn-primary btn-sm" role="button">view details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="page-header">
    <h4 class="text-muted">Recent Settlements</h4>
    <hr>
</div>
<div class="card mb-3">
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reference Code</th>
                    <th>Bank</th>
                    <th>Recipient</th>
                    <th>Bank Account Number</th>
                    <th>Bank Branch</th>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date Submitted</th>
                    <th>Date Processed</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7016336</td>
                    <td>Industrial and Commercial Bank of China</td>
                    <td>John Doe</td>
                    <td>47348489724398</td>
                    <td>Shanghai</td>
                    <td>CNY</td>
                    <td>101.00</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>Settle now please</td>
                </tr>
                <tr>
                    <td>7016336</td>
                    <td>Industrial and Commercial Bank of China</td>
                    <td>John Doe</td>
                    <td>47348489724398</td>
                    <td>Shanghai</td>
                    <td>CNY</td>
                    <td>101.00</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>Settle now please</td>
                </tr>
                <tr>
                    <td>7016336</td>
                    <td>Industrial and Commercial Bank of China</td>
                    <td>John Doe</td>
                    <td>47348489724398</td>
                    <td>Shanghai</td>
                    <td>CNY</td>
                    <td>101.00</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>Settle now please</td>
                </tr>
                <tr>
                    <td>7016336</td>
                    <td>Industrial and Commercial Bank of China</td>
                    <td>John Doe</td>
                    <td>47348489724398</td>
                    <td>Shanghai</td>
                    <td>CNY</td>
                    <td>101.00</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>Settle now please</td>
                </tr>
                <tr>
                    <td>7016336</td>
                    <td>Industrial and Commercial Bank of China</td>
                    <td>John Doe</td>
                    <td>47348489724398</td>
                    <td>Shanghai</td>
                    <td>CNY</td>
                    <td>101.00</td>
                    <td class="text-success">Completed</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>2017-10-23 08:54:01</td>
                    <td>Settle now please</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>