<!-- comment out first, replace with mockups initially 
<h2>My Payins</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payin of payins">
                            <th scope="row">{{payin.id}}</th>
                            <td>{{payin.firstname}}</td>
                            <td>{{payin.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
</div>
-->

<div class="page-header">
    <h3>Routing</h3>
    <hr>
</div>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="SearchForm" (ngSubmit)="addPost(SearchForm.value)">
                <div class="modal-header">
                    <h1 class="text-muted">Create Routing Rule</h1>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h1>Merchant:</h1>
                        <select [(ngModel)]="merchantCode" formControlName="merchantCode" class="form-control">
                            
                            <option *ngFor="let merchant of merchantcode" [ngValue]="merchant.code">{{merchant.code}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Mid Code:</h1>
                        <select [(ngModel)]="midConfigCode" formControlName="midConfigCode" class="form-control">
                            
                            <option *ngFor="let midcode of midcodes" [ngValue]="midcode.code">{{midcode.code}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Transaction Type</h1>
                        <select [(ngModel)]="transactionType" formControlName="transactionType" class="form-control">
                            <option>PAYIN</option>
                            <option>PAYOUT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Method</h1>
                        <select [(ngModel)]="method" formControlName="method" class="form-control">
                            <option>ONLINE_DEBIT</option>
                            <option>BANK_TRANSFER</option>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Currency</h1>
                        <select [(ngModel)]="currency" formControlName="currency" class="form-control">
                            <option>CNY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="code">Weight:</label>
                        <input [(ngModel)]="weight" type="text" class="form-control" id="weight" formControlName="weight">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


</ng-template>



<button class="btn btn btn-secondary" (click)="open(content)">Create Routing Rule</button>

<hr>



<div class="card mb-3">
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Merchant</th>
                    <th>Mid</th>
                    <th>Transaction Type</th>
                    <th>Method</th>
                    <th>Currency</th>
                    <th>Enabled</th>
                    <th>Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rule of routingrules | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                    <td>
                       <a routerLink="/routing/{{rule.id}}">{{rule.id}}</a>
                    </td>
                    <td>{{rule.merchantCode}}</td>
                    <td>{{rule.midConfigCode}}</td>
                    <td>{{rule.transactionType}}</td>
                    <td>{{rule.method}}</td>
                    <td>{{rule.currency}}</td>

                    <td class="text-success" *ngIf="rule.enabled;else disabled">Yes</td>
                    <ng-template #disabled>
                        <td class="text-danger">No</td>
                    </ng-template>
                    <!-- <td>{{rule.enabled}}</td> -->


                    <td>{{rule.weight}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="getPayinMids($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>