<div class="page-header">
    <h4 class="text-muted">Routing Rule</h4>
    <hr>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="RoutingModal" (ngSubmit)="updateRoutingRule(RoutingModal.value)">
                <div class="modal-header">
                    <h1 class="text-muted">Update Routing Rule</h1>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <h1>Merchant:</h1>
                        <input [(ngModel)]="merchantcode" type="text" class="form-control" id="merchantcode" formControlName="merchantcode"  value="{{routingrule?.merchantCode}}" readonly>
                        <!----
                        <select class="form-control" formControlName="merchantCode"  id="merchantCode" [(ngModel)]="merchantCode">
                            <option [selected]="true" [ngValue]="routingrule.merchantCode" disabled >{{routingrule.merchantCode}}</option>
                            <option *ngFor="let mcode of merchantcode" [ngValue]="mcode.code">{{mcode.code}}</option>
                        </select>
                    -->
                    </div>
                    <div class="form-group">
                        <h1>Mid Code:</h1>
                        <select [(ngModel)]="midconfigcode" formControlName="midconfigcode" class="form-control">
                            <option [selected]="true" [ngValue]="routingrule.midConfigCode">{{routingrule.midConfigCode}}</option>
                            <option *ngFor="let midcode of midcodes"  >{{midcode.code}}</option>
                        </select>
                    </div>
 
                    <div class="form-group">
                        <label for="code">Weight:</label>
                        <input [(ngModel)]="weight" type="text" class="form-control" id="weight" formControlName="weight" value="{{routingrule?.weight}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


</ng-template>

<div class="card mb-3"> 
        <div class="card-header">
                <h3 class="mb-0">Routing Rule Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
<div class="form-group">
    <form [formGroup]="RoutingForm">
        <div class="row mb-4">
            <div class="col">
                <label for="id">Id</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.id}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div>

        <div class="row mb-4">
            <div class="col">
                <label for="id">Merchant</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.merchantCode}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="id">Mid</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.midConfigCode}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="id">Currency</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.currency}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div> 
        <div class="row mb-4">
            <div class="col">
                <label for="id">Transaction Type</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.transactionType}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="id">Method</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.method}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>            
        </div>      
    

        <div *ngIf="routingrule?.enabled==false" class="row mb-4">
            <div class="col">
                <label for="id">Enabled</label>
            </div>
                <div class="col">
                    <label for="id">No</label>
                </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>

        <div *ngIf="routingrule?.enabled==true" class="row mb-4">
            <div class="col">
                <label for="id">Enabled</label>
            </div>
                <div class="col">
                    <label for="id">Yes</label>
                </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label for="id">Weight</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{routingrule?.weight}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>                                
    </form>
    <div *ngIf="routingrule?.enabled==false">    
        <button type="button" class="btn btn-link" (click)="enableRoutingRule()">Enable</button>
        <button type="button" class="btn btn-link" (click)="open(content)">Update</button>
        <button type="button" class="btn btn-link" (click)="deleteRoutingRule()">Delete</button>
        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
    </div>
    <div *ngIf="routingrule?.enabled==true">    
        <button type="button" class="btn btn-link" (click)="disableRoutingRule()">Disable</button>
        <button type="button" class="btn btn-link" (click)="open(content)">Update</button>
        <button type="button" class="btn btn-link" (click)="deleteRoutingRule()">Delete</button>
        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
    </div>
</div>
</div>