<!-- comment out first, replace with mockups initially 
<h2>My payouts</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payout of payouts">
                            <th scope="row">{{payout.id}}</th>
                            <td>{{payout.firstname}}</td>
                            <td>{{payout.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
                
</div>
-->

<div class="page-header">
    <h3>Recent Payouts</h3>
    <hr>       
</div>

<button type="button" class="btn btn btn-secondary">Export to CSV</button>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
            <form [formGroup]="SearchForm" (ngSubmit)="addPost(SearchForm.value)">
    <div class="modal-header">
            <h1 class="text-muted">Advanced Search</h1>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
       
        <div class="form-group">
        <div class="d-inline-block ">
            <h3>From:</h3>
            <p-calendar [(ngModel)]="value1" showTime="true" hourFormat="24" name="value1" formControlName="value1"></p-calendar>
          </div>
          <div class="d-inline-block align">
            <h3>To:</h3>
            <p-calendar [(ngModel)]="value2" showTime="true" hourFormat="24" name="value2" formControlName="value2"></p-calendar>
          </div>
          </div>
          <div class="form-group">
          <label for="merchant">Merchant:</label>
          <select [(ngModel)]="selectedmerchant"  formControlName="selectedmerchant" class="form-control">
            <option></option>  
            <option *ngFor="let merchant of merchantcode"  [ngValue]="merchant.code">{{merchant.code}}</option>
          </select>
        </div>
        <div class="form-group">
          <h1>Status</h1>
          <select [(ngModel)]="status" formControlName="status" class="form-control">
            <option>PENDING</option>
            <option>COMPLETED</option>
            <option>DECLINED</option>
          </select>
        </div>
        <div class="form-group">
            <h1>Currency</h1>
            <select [(ngModel)]="currency" formControlName="currency" class="form-control">
              <option>CNY</option>
            </select>
        </div>
        <div class="form-group">
            <h1>Method</h1>
            <select [(ngModel)]="method" formControlName="method" class="form-control">
              <option>BANK_TRANSFER</option>
            </select>
        </div>
        <div class="form-group">
                <label for="pobill">Trans ID:</label>
                <input [(ngModel)]="pobill" type="text" class="form-control" id="pobill" formControlName="pobill">
        </div>
        <div class="form-group">
                <label for="usr">Order ID:</label>
                <input [(ngModel)]="cartid" type="text" class="form-control" id="cartid" formControlName="cartid">
        </div> 
    </div>
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>  
    </div>
</form>
</div>
</div>


  </ng-template>

  
  
  <button class="btn btn btn-secondary" (click)="open(content)">Advanced Search</button>
  
  <hr>



 <div class="card mb-3">
                <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Trans ID</th>
                        <th>Merchant</th>
                        <th>Order ID</th>
                        <th>Order Amount</th>
                        <th>Currency</th>                            
                        <th>Bank</th>
                        <th>Status</th>
                        <th>Method</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let payout of payouts | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                            <td><a routerLink="/payouts/{{payout.id}}">{{payout.id}}</a></td>
                        <td>{{payout.merchantId}}</td> <!-- will be replaced by merchant code-->
                        <td>{{payout.merchantTransId}}</td>
                        <td>{{payout.amount}}</td>
                        <td>{{payout.currency}}</td>
                        <td>{{payout.payoutCode}}</td>
                        <td class="text-warning" *ngIf="payout.status=='PENDING';else completed">{{payout.status}}</td>
                            
                        <ng-template #completed><td class="text-success" *ngIf="payout.status=='COMPLETED';else declined">{{payout.status}}</td></ng-template>
                        <ng-template #declined><td class="text-danger" *ngIf="payout.status=='DECLINED'">{{payout.status}}</td></ng-template>                   
                        <td>{{payout.method}}</td>                                                
                       <td>
                        <ngb-accordion [closeOthers]="false" >
                                <ngb-panel id="static-1" title="View Details">
                                  <ng-template ngbPanelContent>
                                        <ul class="list-group">
                                                <li class="list-group-item">Bank: {{payout.methodDetails.bank}}</li>
                                                <li class="list-group-item">Customer name: {{payout.methodDetails.customerName}}</li>
                                                <li class="list-group-item">Bank Account Name: {{payout.methodDetails.bankAccountName}}</li>
                                                <li class="list-group-item">Bank Account Number: {{payout.methodDetails.bankAccountNumber}}</li>
                                                <li class="list-group-item">Bank Branch: {{payout.methodDetails.bankBranch}}</li>
                                                <li class="list-group-item">Bank City: {{payout.methodDetails.bankCity}}</li>
                                                <li class="list-group-item">Bank Province: {{payout.methodDetails.bankProvince}}</li>
                                              </ul> 
                                  </ng-template>
                                </ngb-panel>
                              </ngb-accordion> 
                            </td>     
                    </tr>
                    </tbody>
                </table>
                <div>
                    
                    <pagination-controls (pageChange)="getPayoutsFromSearch($event)" id="server" ></pagination-controls>
              </div>
            </div>
        </div>