<div class="page-header">
        <h4 class="text-muted">Payout</h4>
        <hr>
</div>


<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <form [formGroup]="ProcessForm" (ngSubmit)="processPayout(ProcessForm.value)">
                                <div class="modal-header">
                                        <h1 class="text-muted">Process Payout</h1>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                                <label for="status">Status:</label>
                                                <input [(ngModel)]="status" type="text" class="form-control" id="status" formControlName="status" readonly>
                                        </div>

                                        <div class="form-group">
                                                <label for="note">Note:</label>
                                                <input [(ngModel)]="note" type="text" class="form-control" id="note" formControlName="note">
                                        </div>

                                </div>
                                <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                        </form>
                </div>
        </div>


</ng-template>

<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">Payout Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div *ngIf="payout">
                <form [formGroup]="PayoutForm" (ngSubmit)="editUser(PayoutForm.value)">
                        <div class="row">
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Transaction ID:</label>
                                                <input type="text" class="form-control" id="transid" formControlName="transid" value="{{payout.id}}">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Order ID:</label>
                                                <input type="text" class="form-control" id="orderid" formControlName="orderid" value="{{payout.merchantTransId}}">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Merchant:</label>
                                                <input type="text" class="form-control" id="orderid" formControlName="orderid" value="{{payout.merchantId}}">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Callback URL:</label>
                                                <input type="text" class="form-control" id="callbackurl" formControlName="callbackurl" value="{{payout.payoutDetails.callbackUrl}}">
                                        </div>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-2">
                                        <div class="form-group">
                                                <label>Order Amount:</label>
                                                <input type="text" class="form-control" id="orderamt" formControlName="orderamt" value="{{payout.amount}}">
                                        </div>
                                </div>
                                <div class="col-lg-2">
                                        <div class="form-group">
                                                <label>Currency:</label>
                                                <input type="text" class="form-control" id="orderamt" formControlName="currency" value="{{payout.currency}}">
                                        </div>
                                </div>
                                <div class="col-lg-2">
                                        <div class="form-group">
                                                <label>Bank Code:</label>
                                                <input type="text" class="form-control" id="bankcode" formControlName="bankcode" value="{{payout.payoutCode}}">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Method:</label>
                                                <input type="text" class="form-control" id="method" formControlName="method" value="{{payout.method}}">
                                        </div>
                                </div>
                                <div class="col-lg-3">
                                        <div class="form-group">
                                                <label>Status:</label>
                                                <input  type="text" class="form-control" id="status" formControlName="status" value="{{payout.status}}">
                                        </div>

                                </div>
                        </div>
                        <div class="row">
                                        <div class="col-lg-4">
                                                <div class="form-group">
                                                        <label for="customername">Customer Name:</label>
                                                        <input type="text" class="form-control" id="customername" formControlName="customername" value="{{payout.methodDetails.customerName}}"
                                                                >
                                                </div>
                                        </div>
                                        <div class="col-lg-4">
                                                        <label for="bankacctname">Bank Account Name:</label>
                                                        <input type="text" class="form-control" id="bankacctname" formControlName="bankacctname" value="{{payout.methodDetails.bankAccountName}}"
                                                                >
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="form-group">   
                                                        <label for="bankacctno">Bank Account Number:</label>
                                                        <input type="text" class="form-control" id="bankacctno" formControlName="bankacctno" value="{{payout.methodDetails.bankAccountNumber}}"
                                                                >                
                                                </div> 
                                        </div>
                        </div>
                        <div class="row">
                                        <div class="col-lg-4">
                                                        <div class="form-group">
                                                        <label for="bankbranch">Bank Branch:</label>
                                                        <input type="text" class="form-control" id="bankbranch" formControlName="bankbranch" value="{{payout.methodDetails.bankBranch}}"
                                                                >
                                                        </div>
                                                </div>
                                                <div class="col-lg-4">
                                                        <label for="bankcity">Bank City:</label>
                                                        <input type="text" class="form-control" id="bankcity" formControlName="bankcity" value="{{payout.methodDetails.bankCity}}"
                                                                >
                                                </div>
                                                <div class="col-lg-4">
                                                        <div class="form-group">   
                                                        <label for="bankprovince">Bank Province:</label>
                                                                        <input type="text" class="form-control" id="bankprovince" formControlName="bankprovince" value="{{payout.methodDetails.bankProvince}}"
                                                                        >       
                                                        </div> 
                                                </div>
                        </div>
                        <div class="row">
                                <div class="col-lg-6">
                                                <div class="form-group">
                                                <label for="bankbranch">Note:</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{payout.lastNote}}</textarea>
                                                </div>
                                        </div>
                                        <div class="col-lg-6">

                                        </div>
                </div>                        
                        <div *ngIf="payout.status=='PENDING'">
                                        <button type="button" class="btn btn-link" (click)="process(content,'APPROVED')">Approve</button>
                                        <button type="button" class="btn btn-link" (click)="process(content,'DECLINED')">Fail</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="payout.status=='APPROVED'">
                                        <button type="button" class="btn btn-link" (click)="process(content,'COMPLETED')">Complete</button>
                                        <button type="button" class="btn btn-link" (click)="process(content,'DECLINED')">Fail</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="payout.status=='COMPLETED'">
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="payout.status=='DECLINED'">
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                </form>
                </div>
                