* {
    font-size: 12px;
    line-height: 1;
 }

 .control-label.required:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 5px;
    top:7px;
}

.error-msg {
    color: #a94442;
  }
  .fix-error-icon {
    top: 27px;
  }