<div class="page-header">
    <h4 class="text-muted">Request Settlement</h4	>
    <hr>
</div>
<div class="card mb-3">
    <div class="card-header">
            <h3 class="mb-0">Request Settlement Details</h3>
    </div>
    <div class="card-block table-responsive">

<form class="form-horizontal" [formGroup]="SettlementForm">

  <div class="form-group" [ngClass]="displayFieldCss('amount')">
    <div class="col-sm-12">
      <label for="amount" class="control-label required">Amount</label>
      <input type="text" id="amount" class="form-control" formControlName="amount">
      <app-field-error-display [displayError]="isFieldValid('amount')" errorMsg="Amount is required and should be valid">
      </app-field-error-display>
    </div>
  </div>



  <div class="form-group" [ngClass]="displayFieldCss('bankname')">
    <div class="col-sm-12">
      <label for="bankname" class="control-label required">Bank Name</label>
      <input type="text" id="bankname" class="form-control" formControlName="bankname">
      <app-field-error-display [displayError]="isFieldValid('bankname')" errorMsg="Bank Name is required">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('bankbranch')">
    <div class="col-sm-12">
      <label for="bankbranch" class="control-label required">Bank Branch</label>
      <input type="text" id="bankbranch" class="form-control" formControlName="bankbranch">
      <app-field-error-display [displayError]="isFieldValid('bankbranch')" errorMsg="Bank Branch is required">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('accountnumber')">
    <div class="col-sm-12">
      <label for="accountnumber" class="control-label required">Account Number</label>
      <input type="text" id="accountnumber" class="form-control" formControlName="accountnumber">
      <app-field-error-display [displayError]="isFieldValid('accountnumber')" errorMsg="Account Number is required">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group" [ngClass]="displayFieldCss('accountname')">
    <div class="col-sm-12">
      <label for="accountname" class="control-label required">Account Name</label>
      <input type="text" id="accountname" class="form-control" formControlName="accountname">
      <app-field-error-display [displayError]="isFieldValid('accountname')" errorMsg="Account Name is required">
      </app-field-error-display>
    </div>
  </div>  

  <div class="form-group" [ngClass]="displayFieldCss('note')">
    <div class="col-sm-12">
      <label for="note" >Note</label>
      <input type="text" id="note" class="form-control" formControlName="note">
      <app-field-error-display [displayError]="isFieldValid('note')" errorMsg="Note">
      </app-field-error-display>
    </div>
  </div> 

  <!-- <button class="btn btn-primary" (click)="onSubmit()">Submit</button> -->
  <button class="btn btn-primary" (click)="createSettlement(SettlementForm.value)">Submit</button>
  <button class="btn" (click)="reset()">Reset</button>
  <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
</form>

</div>
</div>
<!--
    <div class="form-group row" >
        <label for="example-text-input" class="col-2 col-form-label">Running Balance</label>
        <label for="example-text-input" class="col-2 col-form-label">1000000</label>
</div>
<form role="form"   [formGroup]="SettlementForm" (ngSubmit)="createSettlement(SettlementForm.value)">
    <div class="form-group row" >
                <label for="example-text-input" class="col-2 col-form-label">Amount</label>
                <div class="col-5">
                    <input class="form-control" placeholder="Amount" [(ngModel)]="amount" formControlName="amount">
                </div>
                <div *ngIf="SettlementForm.controls.amount.invalid">
                   Amount is required and must be numeric up with 2 decimal places. ex: 100.00
                </div>
    </div>
    <div class="form-group row" >
                        <label for="example-text-input" class="col-2 col-form-label">Bank Name</label>
                        <div class="col-5">
                            <input class="form-control" placeholder="Bank Name" [(ngModel)]="bankname" formControlName="bankname">
                        </div>
    </div>
    <div class="form-group row" >
        <label for="example-text-input" class="col-2 col-form-label">Bank Branch</label>
        <div class="col-5">
            <input class="form-control" placeholder="Bank Branch" [(ngModel)]="bankbranch" formControlName="bankbranch">
        </div>
    </div>
    <div class="form-group row" >
        <label for="example-text-input" class="col-2 col-form-label">Account Number</label>
        <div class="col-5">
            <input class="form-control" placeholder="Account Number" [(ngModel)]="accountnumber" formControlName="accountnumber">
        </div>
    </div>
    <div class="form-group row" >
        <label for="example-text-input" class="col-2 col-form-label">Account Holder Name</label>
        <div class="col-5">
            <input class="form-control" placeholder="Account Holder Name" [(ngModel)]="accountname" formControlName="accountname">
        </div>
    </div>
    <div class="form-group row" >
            <label for="example-text-input" class="col-2 col-form-label">Note</label>
            <div class="col-5">
                <input class="form-control" placeholder="Note" [(ngModel)]="note" formControlName="note">
            </div>
        </div>          
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn rounded-btn" [disabled]="!SettlementForm.controls.amount.valid"> Submit </button>
        </div>
      </div>     

    <button type="submit" class="btn rounded-btn" [disabled]="!LoginForm.controls.user.valid"> Log in </button>
                    <label>Bank Name</label>
                    <input class="form-control" placeholder="Bank Name">
                    <label>Bank Branch</label>
                    <input class="form-control" placeholder="Bank Branch">
                    <label>Account Number</label>
                    <input class="form-control" placeholder="Account Number">
                    <label>Account Holder Name</label>
                    <input class="form-control" placeholder="Account Holder Name">


</div>


</form>
-->

