<div class="page-header">
        <h4 class="text-muted">Settlement</h4>
        <hr>
</div>


<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <form [formGroup]="ProcessForm" (ngSubmit)="processSettlement(ProcessForm.value)">
                                <div class="modal-header">
                                        <h1 class="text-muted">Process Settlement</h1>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        <div class="form-group">
                                                <label for="status">Status:</label>
                                                <input [(ngModel)]="status" type="text" class="form-control" id="status"
                                                        formControlName="status" readonly>
                                        </div>

                                        <div class="form-group">
                                                <label for="note">Note:</label>
                                                <input [(ngModel)]="note" type="text" class="form-control" id="note"
                                                        formControlName="note">
                                        </div>

                                </div>
                                <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                        </form>
                </div>
        </div>
</ng-template>

<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">Settlement Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div *ngIf="settlement">
                        <form [formGroup]="SettlementForm" (ngSubmit)="editUser(SettlementForm.value)">
                                <div class="row">
                                        <div class="col-lg-3">
                                                <div class="form-group">
                                                        <label>Transaction ID:</label>
                                                        <input type="text" class="form-control" id="id" formControlName="id"
                                                                value="{{settlement.id}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-3">
                                                <div class="form-group">
                                                        <label>Merchant:</label>
                                                        <input type="text" class="form-control" id="merchantid"
                                                                formControlName="merchantid" value="{{settlement.merchantId}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-3">
                                                <div class="form-group">
                                                        <label>Settlement Amount:</label>
                                                        <input type="text" class="form-control" id="amount"
                                                                formControlName="amount" value="{{settlement.amount}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-3">
                                                <div class="form-group">
                                                        <label>Currency:</label>
                                                        <input type="text" class="form-control" id="currency"
                                                                formControlName="currency" value="{{settlement.currency}}">
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-2">
                                                <div class="form-group">
                                                        <label>Method:</label>
                                                        <input type="text" class="form-control" id="method"
                                                                formControlName="method" value="{{settlement.method}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-2">
                                                <div class="form-group">
                                                        <label>Status:</label>
                                                        <input type="text" class="form-control" id="status"
                                                                formControlName="status" value="{{settlement.status}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="form-group">
                                                        <label>Created By:</label>
                                                        <input type="text" class="form-control" id="createdby"
                                                                formControlName="createdby" value="{{settlement.createdBy}}">
                                                </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <div class="form-group">
                                                        <label>Created Date:</label>
                                                        <input type="text" class="form-control" id="createddate"
                                                                formControlName="createddate" value="{{settlement.createdDate}}">
                                                </div>

                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-lg-2">
                                                <div class="form-group">
                                                        <label for="customername">Last Modified By:</label>
                                                        <input type="text" class="form-control" id="lastmodifiedby"
                                                                formControlName="lastmodifiedby" value="{{settlement.lastModifiedBy}}"
                                                                >
                                                </div>
                                        </div>
                                        <div class="col-lg-4">
                                                <label for="bankacctname">Last Modified Date:</label>
                                                <input type="text" class="form-control" id="lastmodifieddate"
                                                        formControlName="lastmodifieddate" value="{{settlement.lastModifiedDate}}"
                                                        >
                                        </div>
                                        <div class="col-lg-6">
                                                <div class="form-group">
                                                        <label for="bankname">Bank Name:</label>
                                                        <input type="text" class="form-control" id="bankname"
                                                                formControlName="bankname" value="{{settlement.methodDetails.bankName}}"
                                                                >
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                                <div class="col-lg-4">
                                                        <div class="form-group">
                                                                <label for="bankbranch">Bank Branch:</label>
                                                                <input type="text" class="form-control" id="bankbranch"
                                                                formControlName="bankbranch" value="{{settlement.methodDetails.bankBranch}}">
                                                        </div>
                                                </div>
                                                <div class="col-lg-4">
                                                        <div class="form-group">
                                                                <label for="accountname">Account Name:</label>
                                                                <input type="text" class="form-control" id="accountname"
                                                                formControlName="accountname" value="{{settlement.methodDetails.accountName}}">
                                                        </div>
                                                </div>
                                                <div class="col-lg-4">
                                                        <div class="form-group">
                                                                <label for="accountnumber">Account Number:</label>
                                                                <input type="text" class="form-control" id="accountnumber"
                                                                        formControlName="accountnumber" value="{{settlement.methodDetails.accountNumber}}">
                                                        </div>
                                                </div>
                                </div>
                                <div>
                                        <div class="row">
                                                <div class="col-lg-6">
                                                        <div class="form-group">
                                                                <label>Note:</label>
                                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                                        rows="3">{{settlement.lastNote}}</textarea>
                                                        </div>
                                                </div>
                                                <div class="col-lg-6">

                                                </div>
                                        </div>
                                </div>
                                <div *ngIf="settlement.status=='PENDING'">
                                        <button type="button" class="btn btn-link" (click)="process(content,'APPROVED')">Approve</button>
                                        <button type="button" class="btn btn-link" (click)="process(content,'DECLINED')">Fail</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="settlement.status=='APPROVED'">
                                        <button type="button" class="btn btn-link" (click)="process(content,'COMPLETED')">Complete</button>
                                        <button type="button" class="btn btn-link" (click)="process(content,'DECLINED')">Fail</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="settlement.status=='COMPLETED'">
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="settlement.status=='DECLINED'">
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                        </form>

                </div>

        </div>
</div>