<!-- comment out first, replace with mockups initially 
<h2>My Payins</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payin of payins">
                            <th scope="row">{{payin.id}}</th>
                            <td>{{payin.firstname}}</td>
                            <td>{{payin.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
</div>
-->

<div class="page-header">
    <h4 class="text-muted">Recent Settlements</h4	>
    <hr>
</div>

<button type="button" class="btn btn btn-secondary">Export to CSV</button>
<hr>
 <div class="card mb-3">
                <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Reference Code</th>
                        <th>Bank</th>
                        <th>Recipient</th>
                        <th>Bank Account Number</th>                            
                        <th>Bank Branch	</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date Submitted</th>
                        <th>Date Processed</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let settlement of settlements | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                            <div *ngIf="admin; else merchant">
                                <td><a routerLink="/settlement/{{settlement.id}}">{{settlement.id}}</a></td>
                            </div>
                            <ng-template #merchant><td>{{settlement.id}}</td></ng-template>
                        <td>{{settlement.methodDetails.bankName}}</td>
                        <td>{{settlement.methodDetails.accountName}}</td>
                        <td>{{settlement.methodDetails.accountNumber}}</td>
                        <td>{{settlement.methodDetails.bankBranch}}</td>
                        <td>{{settlement.currency}}</td>                         
                        <td>{{settlement.amount}}</td>
                        <td class="text-warning" *ngIf="settlement.status=='PENDING';else approved">{{settlement.status}}</td>
                        <ng-template #approved><td class="text-primary" *ngIf="settlement.status=='APPROVED';else completed">{{settlement.status}}</td></ng-template>
                        <ng-template #completed><td class="text-success" *ngIf="settlement.status=='COMPLETED';else declined">{{settlement.status}}</td></ng-template>
                        <ng-template #declined><td class="text-danger" *ngIf="settlement.status=='DECLINED'">{{settlement.status}}</td></ng-template>

                        <td>{{settlement.createdDate}}</td>

                        <div *ngIf="settlement.status!='PENDING'; else nothing">
                            <td>{{settlement.lastModifiedDate}}</td>
                        </div>
                        <ng-template #nothing><td></td></ng-template>

                        <td>{{settlement.lastNote}}</td>                           
                    </tr>
                    <!-- 
{
    "settlements": [
        {
            "id": 1,
            "merchantId": 1,
            "amount": 123.99,
            "currency": "CNY",
            "method": "BANK_TRANSFER",
            "status": "PENDING",
            "lastNote": "Settle now please",
            "createdBy": "user555",
            "createdDate": "2017-12-17 00:25:21",
            "lastModifiedBy": "user555",
            "lastModifiedDate": "2017-12-17 00:25:21",
            "methodDetails": {
                "bank": "CNCMB",
                "accountName": "Jake",
                "accountNumber": "9281482148211",
                "branch": "Guanzhou",
                "method": "BANK_TRANSFER"
            }
        }
    ]
}
                     -->
                    

                    </tbody>
                </table>
                <div>
                    <pagination-controls (pageChange)="getSettlements($event)" id="server" ></pagination-controls>
              </div>
            </div>
        </div>