<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <!-- 
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
         -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Transactions')">
                <!--  edit  addExpandClass('pages') to addExpandClass(transaction)-->
                <span><i class="fa fa-random"></i>&nbsp; {{ 'Transactions' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Transactions'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/payins']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                            {{ 'Payins' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/payouts']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                            {{ 'Payouts' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/summary']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                            {{ 'Summary' | translate }}
                        </a>
                    </li>
                    <!--
                    <li>
                        <a [routerLink]="['/summary']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                            {{ 'Summary' | translate }}
                        </a>
                    </li>
                    -->
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Settlement')">
                <!--  edit  addExpandClass('pages') to addExpandClass(transaction)-->
                <span><i class="fa fa-credit-card"></i>&nbsp; {{ 'Settlement' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Settlement'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/settlement']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'My Settlements' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/request-settlement']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'Request Settlement' | translate }}
                        </a>
                    </li>
                    <!--
                    <li>
                            <a [routerLink]="['/request-something']" [routerLinkActive]="['router-link-active']"  class="list-group-item">
                                                {{ 'Settlement Banks' | translate }}
                            </a>
                                        </li>
                                        -->
                </ul>
            </li>
        </div>
        <!--
        <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('Data')">
                    <span><i class="fa fa-bar-chart"></i>&nbsp; {{ 'Data' | translate }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'Data'">
                    <ul class="submenu">
                        <li>
                                    <a [routerLink]="['/view-mdr']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                                {{ 'My MDR' | translate }}
            </a>
                        </li>
                        <li>
                                     <a [routerLink]="['/view-statement']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item">
                                {{ 'Statement of Account' | translate }}
            </a>
                        </li>
                    </ul></li>
            </div>        

-->
        <div *ngIf="role === '1' " class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Users')">
                <!--  edit  addExpandClass('pages') to addExpandClass(transaction)-->
                <span><i class="fa fa-user-circle"></i>&nbsp; {{ 'User Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Users'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'Users' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/merchants']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'Merchants' | translate }}
                        </a>
                </ul>
                </li>
        </div>

        <div *ngIf="role === '1' " class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('Mid')">
                <!--  edit  addExpandClass('pages') to addExpandClass(transaction)-->
                <span><i class="fa   fa-plug"></i>&nbsp; {{ 'Mid Management' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'Mid'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/midmanagement']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'Mid Configuration' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/routing']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            {{ 'Transaction Routing' | translate }}
                        </a>
                </ul>
                </li>
        </div>

    </ul>
</nav>