<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>PGateway88</h1>
            <form role="form" [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" formControlName="username" class="form-control input-underline input-lg" id="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" formControlName="password" class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" > Log in </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Forgot Password</a>
            </form>
        </div>
    </div>
</div>
