<div class="page-header">
        <h4 class="text-muted">Statement</h4	>
        <hr>
        
        
        
    </div>
    
    <button type="button" class="btn btn btn-secondary">Export to CSV</button>
    <br><br>
    
     <div class="card mb-3">
                    <div class="card-block table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                                  <!--  <th>ID</th>  Do not show this if user is merchant -->
                            <th>Type</th>
                            <th>Cart / Payout / Settlement ID</th>
                                                      
                            <th>Pay Type</th>
                            <th>Debit</th>
                            <th>Credit</th>
                            <th>Start Date</th>
                            <th>End Date</th> <!-- Do not show this if user is merchant -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let st of statement">
                            <td>{{st.type}}</td>
                            <td>{{st.typeid}}</td>
                            <td>{{st.paytype}}</td>
                            <ng-container  *ngIf="st.type == 'Payin' ">
                            <td >{{st.amount}}</td>
                            <td></td>
                            </ng-container>
                            <ng-container *ngIf="st.type == 'Payout' ">
                                    <td></td>
                                    <td>{{st.amount}}</td> 
                            </ng-container>
                            <td>{{st.startdate}}</td> 
                            <td>{{st.enddate}}</td>
                        </tr>
                        <!-- 
    id: number;
    type: string;     //Payin, Payout, Settlement
    typeid: string;   //Cart / Payout / Refno
    amount: number;
    paytype: string;  //Bank Transfer , wechat , quickpay, etc
    balance: number; //running balance
    startdate: string;
    enddate: string;
                         -->
                        
    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group row" >
                    <label for="example-text-input" class="col-2 col-form-label">Running Balance</label>
                    <label for="example-text-input" class="col-2 col-form-label">1000000</label>
        </div>