<div class="page-header">
        <h4 class="text-muted">Merchant Data Ratess</h4	>
        <hr>
    </div>
    
    <button type="button" class="btn btn btn-secondary">Export to CSV</button>
    <br><br>
    
     <div class="card mb-3">
                    <div class="card-block table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>         <!-- Do not show this if user is merchant -->
                            <th>Merchant Name</th>
                            <th>Currency</th>
                            <th>Transaction Type</th>                            
                            <th>Channel</th>
                            <th>Rate</th>
                            <th>Start Date</th>
                            <th>Created by</th> <!-- Do not show this if user is merchant -->
                            <th>Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let md of mdr">
                            <td>{{md.id}}</td>
                            <td>{{md.MerchantName}}</td>
                            <td>{{md.currency}}</td>
                            <td>{{md.transtype}}</td>
                            <td>{{md.channel}}</td>
                            <td>{{md.rate}}</td>                         
                            <td>{{md.startdate}}</td>
                            <td>{{md.createdby}}</td>
                            <td>{{md.remarks}}</td>                       
                        </tr>
                        <!-- 
    id: number;
    MerchantName: string;
    currency: string;
    transtype: string;
    channel: number;
    rate: number;
    startdate: number;
    createdby: string;
    remarks: string;
                         -->
                        
    
                        </tbody>
                    </table>
                </div>
            </div>