<!-- comment out first, replace with mockups initially 
<h2>My Payins</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payin of payins">
                            <th scope="row">{{payin.id}}</th>
                            <td>{{payin.firstname}}</td>
                            <td>{{payin.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
</div>
-->

<div class="page-header">
        <h3 >Recent Payins</h3>
        <hr>       
</div>
    
<button type="button" class="btn btn btn-secondary">Export to CSV</button>


<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <form [formGroup]="SearchForm" (ngSubmit)="addPost(SearchForm.value)">
        <div class="modal-header">
                <h1 class="text-muted">Advanced Search</h1>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
           
            <div class="form-group">
            <div class="d-inline-block ">
                <h3>From:</h3>
                <p-calendar [(ngModel)]="value1" showTime="true" hourFormat="24" name="value1" formControlName="value1"></p-calendar>
              </div>
              <div class="d-inline-block align">
                <h3>To:</h3>
                <p-calendar [(ngModel)]="value2" showTime="true" hourFormat="24" name="value2" formControlName="value2"></p-calendar>
              </div>
              </div>
              <div class="form-group">
              <label for="merchant">Merchant:</label>
              <select [(ngModel)]="selectedmerchant"  formControlName="selectedmerchant" class="form-control">
                <option></option>  
                <option *ngFor="let merchant of merchantcode"  [ngValue]="merchant.code">{{merchant.code}}</option>
              </select>
            </div>
            <div class="form-group">
              <h1>Status</h1>
              <select [(ngModel)]="status" formControlName="status" class="form-control">
                <option>PENDING</option>
                <option>COMPLETED</option>
                <option>DECLINED</option>
              </select>
            </div>
            <div class="form-group">
                <h1>Currency</h1>
                <select [(ngModel)]="currency" formControlName="currency" class="form-control">
                  <option>CNY</option>
                </select>
            </div>
            <div class="form-group">
                <h1>Method</h1>
                <select [(ngModel)]="method" formControlName="method" class="form-control">
                  <option>BANK_TRANSFER</option>
                  <option>WECHAT</option>
                  <option>QQPAY</option>
                </select>
            </div>
            <div class="form-group">
                    <label for="pobill">PO Bill Number:</label>
                    <input [(ngModel)]="pobill" type="text" class="form-control" id="pobill" formControlName="pobill">
            </div>
            <div class="form-group">
                    <label for="usr">Cart ID:</label>
                    <input [(ngModel)]="cartid" type="text" class="form-control" id="cartid" formControlName="cartid">
            </div> 
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>  
        </div>
    </form>
    </div>
    </div>


      </ng-template>

      
      
      <button class="btn btn btn-secondary" (click)="open(content)">Advanced Search</button>
      
      <hr>

    
    
     <div class="card mb-3">
                    <div class="card-block table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>PO Bill Number</th>
                            <th>Merchant</th>
                            <th>Cart ID</th>
                            
                                <th *ngIf="admin"> MID</th>
                            
                            <th>Payment Type</th>
                            <th>Payin Code</th>
                            <th>Currency</th>                            
                            <th>Order Amount</th>
                            <th>Status</th>
                            <th>Created Time</th>
                            
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let payin of payins | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                            <td>

                                {{payin.id}}
                                <!-- <option *ngFor="let merchant of merchantcode"  [ngValue]="merchant.code">{{merchant.code}}</option> -->

                           </td>
                            <!-- <td>{{payin.merchantId}}</td> -->

                            <ng-container *ngFor="let merchant of merchantcode">
                                
                                        <td *ngIf="payin.merchantId==merchant.id"> {{merchant.code}}</td>                                    
                                                               
                            </ng-container>

                            <td>{{payin.merchantTransId}}</td>
                            
                                <td *ngIf="admin"> {{payin.midConfigCode}}</td>
                            
                            <td>{{payin.method}}</td>
                            <td>{{payin.payinCode}}</td>
                            <td>{{payin.currency}}</td>
                            <td>{{payin.amount}}</td>

                            <td class="text-warning" *ngIf="payin.status=='PENDING';else completed">{{payin.status}}</td>
                            
                            <ng-template #completed><td class="text-success" *ngIf="payin.status=='COMPLETED';else declined">{{payin.status}}</td></ng-template>
                            <ng-template #declined><td class="text-danger" *ngIf="payin.status=='DECLINED'">{{payin.status}}</td></ng-template>

                            <td>{{payin.payinDetails.orderDate}}</td>
                               
                           <td>
                            <ngb-accordion [closeOthers]="false" >
                                    <ngb-panel id="static-1" title="View Details">
                                      <ng-template ngbPanelContent>
                                            <ul class="list-group">
                                                    <li class="list-group-item">callbackUrl: {{payin.payinDetails.callbackUrl}}</li>
                                                    <li class="list-group-item">returnUrl: {{payin.payinDetails.returnUrl}}</li>
                                                    <li class="list-group-item">product: {{payin.payinDetails.product}}</li>
                                                    <li class="list-group-item">param1: {{payin.payinDetails.param1}}</li>
                                                    <li class="list-group-item">param2: {{payin.payinDetails.param2}}</li>
                                                    <li class="list-group-item">param3: {{payin.payinDetails.param3}}</li>
                                                  </ul> 
                                      </ng-template>
                                    </ngb-panel>
                                  </ngb-accordion> 
                                </td>     
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        
                        <pagination-controls (pageChange)="getPayins($event)" id="server" ></pagination-controls>
                  </div>
                </div>
            </div>