<!-- comment out first, replace with mockups initially 
<h2>My Payins</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payin of payins">
                            <th scope="row">{{payin.id}}</th>
                            <td>{{payin.firstname}}</td>
                            <td>{{payin.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
</div>
-->

<div class="page-header">
    <h3>Mid Management</h3>
    <hr>
</div>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="SearchForm" (ngSubmit)="addPost(SearchForm.value)">
                <div class="modal-header">
                    <h1 class="text-muted">Create Mid</h1>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="code">Merchant Code:</label>
                        <input [(ngModel)]="code" type="text" class="form-control" id="code" formControlName="code">
                    </div>
                    <div class="form-group">
                        <label for="code">PSP Config:</label>
                        <select [(ngModel)]="pspconfig" formControlName="pspconfig" class="form-control">
                            <option *ngFor="let pspconfig of pspconfigs" [ngValue]="pspconfig.code">{{pspconfig.code}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Transaction Type</h1>
                        <select [(ngModel)]="transactiontype" formControlName="transactiontype" class="form-control">
                            <option>PAYIN</option>
                            <option>PAYOUT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Method</h1>
                        <select [(ngModel)]="method" formControlName="method" class="form-control">
                            <option>ONLINE_DEBIT</option>
                            <option>BANK_TRANSFER</option>
                            <option>WECHAT</option>
                            <option>QQPAY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <h1>Currency</h1>
                        <select [(ngModel)]="currency" formControlName="currency" class="form-control">
                            <option>CNY</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="usr">Min Amount:</label>
                        <input [(ngModel)]="minamount" type="text" class="form-control" id="minamount" formControlName="minamount">
                    </div>
                    <div class="form-group">
                        <label for="usr">Max Amount:</label>
                        <input [(ngModel)]="maxamount" type="text" class="form-control" id="maxamount" formControlName="maxamount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>


</ng-template>



<button class="btn btn btn-secondary" (click)="open(content)">Create Mid</button>

<hr>



<div class="card mb-3">
    <div class="card-block table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>PSP Config</th>
                    <th>Transaction Type</th>
                    <th>Method</th>
                    <th>Currency</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mid of mids | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                    <td>
                        <a routerLink="/midmanagement/{{mid.id}}">{{mid.id}}</a>
                    </td>
                    <td>
                        {{mid.code}}
                    </td>
                    <td>
                        {{mid.pspConfigCode}}
                    </td>                    
                    <td>
                        {{mid.transactionType}}
                    </td>
                    <td>{{mid.method}}</td>
                    <ng-container *ngFor="let b of mid.limits">
                        <td>{{b.currency}}</td>
                        <td>{{b.minAmount}}</td>
                        <td>{{b.maxAmount}}</td>
                    </ng-container>



                    <td class="text-success" *ngIf="mid.enabled;else disabled">Yes</td>
                    <ng-template #disabled>
                        <td class="text-danger">No</td>
                    </ng-template>


                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="getPayinMids($event)" id="server"></pagination-controls>
        </div>
    </div>
</div>