<div class="page-header">
    <h4 class="text-muted">Mid</h4>
    <hr>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="modalmid" (ngSubmit)="updateMid(modalmid.value)">
                <div class="modal-header">
                    <h1 class="text-muted">Update Mid Limits</h1>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf=mid>
                        <div class="form-group">
                            <h1>Mid Code:</h1>
                            <input [(ngModel)]="mid.code" type="text" class="form-control" id="midcode" formControlName="midcode" readonly>
                        </div>


                        <ng-container *ngFor="let b of mid.limits">
                            <div class="form-group">
                                <h1>Currency:</h1>
                                <input [(ngModel)]="b.currency" type="text" class="form-control" id="currency" formControlName="currency" readonly>
                            </div>
                            <div class="form-group">
                                <h1>Min Amount:</h1>
                                <input [(ngModel)]="b.minAmount" type="text" class="form-control" id="minamount" formControlName="minamount">
                            </div>

                            <div class="form-group">
                                <h1>Max Amount:</h1>
                                <input [(ngModel)]="b.maxAmount" type="text" class="form-control" id="maxamount" formControlName="maxamount">
                            </div>
                        </ng-container>

                    </div>
                </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    </div>
</ng-template>

<div class="card mb-3"> 
        <div class="card-header">
                <h3 class="mb-0">Mid Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
<div class="form-group">
        <div *ngIf="mid">
    <form [formGroup]="MidForm">
        <div class="row mb-4">
            <div class="col">
                <label for="id">Id</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="id" formControlName="id" value="{{mid?.id}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label for="id">Code</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="code" formControlName="code" value="{{mid?.code}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="id">Transaction Type</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="transactionType" formControlName="transactionType" value="{{mid?.transactionType}}"
                    readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="id">Method</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="method" formControlName="method" value="{{mid?.method}}" readonly>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>

        <ng-container *ngFor="let b of mid?.limits">
            <div class="row mb-4">
                <div class="col">
                    <label for="id">Currency</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="id" formControlName="id" value="{{b?.currency}}" readonly>
                </div>
                <div class="col">
                    <input type="hidden">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <label for="id">Min Amount</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="minamount" formControlName="minamount" value="{{b?.minAmount}}" readonly>
                </div>
                <div class="col">
                    <input type="hidden">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <label for="id">Max Amount</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="maxamount" formControlName="maxamount" value="{{b?.maxAmount}}" readonly>
                </div>
                <div class="col">
                    <input type="hidden">
                </div>
            </div>
        </ng-container>





        <div *ngIf="mid?.enabled==false" class="row mb-4">
            <div class="col">
                <label for="id">Enabled</label>
            </div>
            <div class="col">
                <label for="id">No</label>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>

        <div *ngIf="mid?.enabled==true" class="row mb-4">
            <div class="col">
                <label for="id">Enabled</label>
            </div>
            <div class="col">
                <label for="id">Yes</label>
            </div>
            <div class="col">
                <input type="hidden">
            </div>
        </div>
    </form>

    <div *ngIf="mid?.enabled==false">
        <button type="button" class="btn btn-link" (click)="enableMid()">Enable</button>
        <button type="button" class="btn btn-link" (click)="open(content)">Update Limits</button>
        <button type="button" class="btn btn-link" (click)="getMidDetail()">Update Mid Credentials</button>
        <button type="button" class="btn btn-link" (click)="archiveMid()">Delete</button>
        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
    </div>

    <div *ngIf="mid?.enabled==true">
        <button type="button" class="btn btn-link" (click)="disableMid()">Disable</button>
        <button type="button" class="btn btn-link" (click)="open(content)">Update Limits</button>
        <button type="button" class="btn btn-link" (click)="getMidDetail()">Update Mid Credentials</button>
        <button type="button" class="btn btn-link" (click)="archiveMid()">Delete</button>
        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
    </div>
</div>
</div>
</div>  