<div class="page-header">
    <h4 class="text-muted">Mid Details</h4>
    <hr>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="modalmid" (ngSubmit)="updateMid(modalmid.value)">
                <div class="modal-header">
                    <h1 class="text-muted">Update Mid Details</h1>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf=midfield>
                  
                            <div class="form-group">
                                <h1>Merchant ID:</h1>
                                <input [(ngModel)]="midfield.details.MID" type="text" class="form-control" id="merchantid" formControlName="merchantid" >
                            </div>
                            <div class="form-group">
                                <h1>Callback URL:</h1>
                                <input [(ngModel)]="midfield.details.CALLBACK_URL" type="text" class="form-control" id="callbackurl" formControlName="callbackurl">
                            </div>

                            <div class="form-group">
                                <h1>Request URL:</h1>
                                <input [(ngModel)]="midfield.details.REQUEST_URL" type="text" class="form-control" id="requesturl" formControlName="requesturl">
                            </div>

                            <div class="form-group">
                                    <h1>Sign:</h1>
                                    <input [(ngModel)]="midfield.details.SIGN_KEY" type="text" class="form-control" id="sign" formControlName="sign">
                            </div>                            

                            <div class="form-group">
                                    <h1>Remarks:</h1>
                                    <input [(ngModel)]="midfield.details.REMARKS" type="text" class="form-control" id="remarks" formControlName="remarks">
                            </div>                               

                            <div class="form-group">
                                    <h1>Landing URL:</h1>
                                    <input [(ngModel)]="midfield.details.LANDING_URL" type="text" class="form-control" id="landingurl" formControlName="landingurl">
                            </div>                                 

                            <div class="form-group">
                                    <h1>Private Key:</h1>
                                    <input [(ngModel)]="midfield.details.PRIVATE_KEY" type="text" class="form-control" id="privatekey" formControlName="privatekey">
                            </div>                             
                    </div>
                </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
    </div>
</ng-template>


    
<div class="card mb-3"> 
        <div class="card-header">
                <h3 class="mb-0">Mid Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div class="form-group">
                        <div *ngIf=midfield>
                        <form [formGroup]="MidForm">
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="id">Id</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="id" formControlName="id" value="{{midfield?.id}}"
                                        readonly>
                                </div>
                                <div class="col">
                                    <input type="hidden">
                                </div>
                            </div>
            
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="id">Code</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="code" formControlName="code" value="{{midfield?.code}}"
                                        readonly>
                                </div>
                                <div class="col">
                                    <input type="hidden">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <label for="id">PSP Config Code</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="pspconfigcode" formControlName="pspconfigcode"
                                        value="{{midfield?.pspConfigCode}}" readonly>
                                </div>
                                <div class="col">
                                    <input type="hidden">
                                </div>
                            </div>
            
                            
                                <div class="row mb-4">
                                    <div class="col">
                                        <label for="id">Merchant ID</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="merchantid" formControlName="merchantid" value="{{midfield?.details.MID}}"
                                            readonly>
                                    </div>
                                    <div class="col">
                                        <input type="hidden">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <label for="id">Callback URL</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="callbackurl" formControlName="callbackurl"
                                            value="{{midfield.details?.CALLBACK_URL}}" readonly>
                                    </div>
                                    <div class="col">
                                        <input type="hidden">
                                    </div>
                                </div>
            
                                <div class="row mb-4">
                                    <div class="col">
                                        <label for="id">Request URL</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="requesturl" formControlName="requesturl" value="{{midfield.details?.REQUEST_URL}}"
                                            readonly>
                                    </div>
                                    <div class="col">
                                        <input type="hidden">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col">
                                        <label for="id">Sign</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="sign" formControlName="sign" value="{{midfield.details?.SIGN_KEY}}"
                                            readonly>
                                    </div>
                                    <div class="col">
                                        <input type="hidden">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                        <div class="col">
                                            <label for="id">Remarks</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="remarks" formControlName="remarks" value="{{midfield.details?.REMARKS}}"
                                                readonly>
                                        </div>
                                        <div class="col">
                                            <input type="hidden">
                                        </div>
                                </div>
                                <div class="row mb-4">
                                        <div class="col">
                                            <label for="id">Landing URL</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="landingurl" formControlName="landingurl" value="{{midfield.details?.LANDING_URL}}"
                                                readonly>
                                        </div>
                                        <div class="col">
                                            <input type="hidden">
                                        </div>
                                </div>                                                         
                                <div class="row mb-4">
                                        <div class="col">
                                            <label for="id">Private Key</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" id="privatekey" formControlName="privatekey" value="{{midfield.details?.PRIVATE_KEY}}"
                                                readonly>
                                        </div>
                                        <div class="col">
                                            <input type="hidden">
                                        </div>
                                </div>             
            
                            </form>
                        </div>
                            <button type="button" class="btn btn-link" (click)="open(content)">Update Mid Credentials</button>
                            <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>

</div>
</div>  