

<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>PGateway88</h1>
            <div class="panel panel-default">
                    <div class="panel-heading">Login</div>
        
            <form role="form" [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)">
                    
                <div class="form-content">
                        <div class="form-group">
                        <input type="hidden" [(ngModel)]="hide" formControlName="hide"  class="form-control input-underline input-lg" id="hide" name="hide">                        
                        </div>
                        <app-notify></app-notify>
                        <div class="form-group">
                        <input type="hidden" [(ngModel)]="gateway" formControlName="gateway"  class="form-control input-underline input-lg" id="gateway" name="gateway">                                
                        </div>
                        
                    <div class="form-group">
                           
                        <input type="text" [(ngModel)]="username" formControlName="user"  class="form-control input-underline input-lg" id="username" name="username" placeholder="Username">
                        
                    </div>

                    <div class="form-group">
                           
                        <input type="password" [(ngModel)]="password" formControlName="pass"  class="form-control input-underline input-lg" id="password" placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!LoginForm.controls.user.valid"> Log in </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Forgot Password</a>
            </form>
            <!--
            <div class="panel-footer">
                    Copyright 2018. All rights reserved.</div>-->
            </div>
        </div>
    </div>
</div>
