<div class="page-header">
        <h4 class="text-muted">Users</h4>
        <hr>
    </div>
    
    <button type="button" class="btn btn btn-secondary">Export to CSV</button>
    <button class="btn btn btn-secondary" (click)="open(content)">Add User</button>
    <br><br>
    
    <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                    <form [formGroup]="AddUserForm" (ngSubmit)="addPost(AddUserForm.value)">
            <div class="modal-header">
                    <h1 class="text-muted">Add User</h1>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input [(ngModel)]="username" type="text" class="form-control" id="username" formControlName="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input [(ngModel)]="password" type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <div class="form-group">                        
                            <label for="email">Email:</label>
                            <input [(ngModel)]="email" type="text" class="form-control" id="email" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input [(ngModel)]="firstname" type="text" class="form-control" id="firstname" formControlName="firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input [(ngModel)]="lastname" type="text" class="form-control" id="lastname" formControlName="lastname">
                        </div>
                        <div class="form-group">
                            <label for="merchantids">Merchants:</label>
                            <select [(ngModel)]="merchantcodes"  formControlName="merchantcodes" class="form-control">
                                <option></option>  
                                <option *ngFor="let merchant of merchantcode"  [ngValue]="merchant.code">{{merchant.code}}</option>
                              </select>
                            </div>
                            <div class="form-group">

                            <label for="roleid">Role ID:</label>
                            <select [(ngModel)]="role" type="text" class="form-control" id="role" formControlName="role">
                                    <option>Administrator</option>
                                    <option>Merchant</option>
                            </select>
                            </div>
                    
                
                
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>  
            </div>
        </form>
        </div>
        </div>
    
    
          </ng-template>
     <div class="card mb-3">
                    <div class="card-block table-responsive">
                        <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>                   
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Merchant(s)</th>
                            <th>Role</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let us of user | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                            <td>
                                <a routerLink="/user/{{us.id}}">
                                    {{us.username}}
                                  </a>
                                </td>
                            <td>{{us.email}}</td>
                            <td>{{us.firstName}}</td>
                            <td>{{us.lastName}}</td>
                            <td> 
                                <ul *ngFor="let merchants of us.merchants">
                                 <li>   {{merchants.name}}</li>
                                </ul>
                            </td>
                            
                            <td >{{us.role.name}}</td>
                            
                            
                                <td class="text-success" *ngIf="us.enabled==true;else disabled">Enabled</td>
                            
                            <ng-template #disabled><td class="text-danger">Disabled</td></ng-template>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <pagination-controls (pageChange)="getUsers($event)" id="server" ></pagination-controls>
              </div>
            </div>