<div class="page-header">
        <h4 class="text-muted">Users</h4>
        <hr>
</div>
<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">User Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div *ngIf="user">
                        <form [formGroup]="UserForm" (ngSubmit)="editUser(UserForm.value)">

                                <div class="row mb-4">
                                        <div class="col">
                                                <label for="usr">Username:</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="username" formControlName="username"
                                                        value="{{user.username}}" readonly>
                                        </div>
                                        <div class="col">
                                                <input type="hidden">
                                        </div>
                                </div>

                                <div class="row mb-4">
                                        <div class="col">
                                                <label for="usr">Email:</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="email" formControlName="email"
                                                        value="{{user.email}}">
                                        </div>
                                        <div class="col">
                                                <input type="hidden">
                                        </div>
                                </div>

                                <div class="row mb-4">
                                        <div class="col">
                                                <label for="usr">First Name:</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="firstname" formControlName="firstname"
                                                        value="{{user.firstName}}">
                                        </div>
                                        <div class="col">
                                                <input type="hidden">
                                        </div>
                                </div>

                                <div class="row mb-4">
                                        <div class="col">
                                                <label for="usr">Last Name:</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="lastname" formControlName="lastname"
                                                        value="{{user.lastName}}">
                                        </div>
                                        <div class="col">
                                                <input type="hidden">
                                        </div>
                                </div>

                                <div class="row mb-4">
                                        <div class="col">
                                                <label for="usr">Role:</label>
                                        </div>
                                        <div class="col">
                                                <input [(ngModel)]="roleid" type="text" class="form-control" id="roleid"
                                                        formControlName="roleid" value="{{user.role.id}}" readonly>
                                        </div>
                                        <div class="col">
                                                <input type="hidden">
                                        </div>
                                </div>

                                <div *ngIf="user.enabled==true">
                                        <button type="submit" class="btn btn-link">Update</button>
                                        <button type="button" class="btn btn-link" (click)="disable()">Disable</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                                <div *ngIf="user.enabled==false">
                                        <button type="submit" class="btn btn-link">Update</button>
                                        <button type="button" class="btn btn-link" (click)="enable()">Enable</button>
                                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                                </div>
                        </form>

                </div>
        </div>

</div>