<div>
                <h4 class="text-muted">Profile</h4	>
                <hr>
            </div>
     
            
        <div class="card mb-3">
                <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      
                    </tr>
                    </tbody>
                </table>
                <div>
                    
                    
              </div>

              <div class="row">
                <div class="col-lg-6">
                        <div *ngIf="user">
                    <form role="form">
                        <fieldset class="form-group">
                            <label>Username:</label>
                            <input class="form-control"  id="username"  value="{{user.username}}" >
                        </fieldset>
                        <fieldset class="form-group">
                                <label>Email:</label>
                                <input class="form-control"   id="email" value="{{user.email}}">
                        </fieldset>
                        <fieldset class="form-group">
                                <label>First Name:</label>
                                <input class="form-control"  id="firstname" value="{{user.firstName}}">
                        </fieldset>
                        <fieldset class="form-group">
                                <label>Last Name:</label>
                                <input class="form-control"  id="lastname" value="{{user.lastName}}">
                        </fieldset>
                    </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>