<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">PGateway88</a>
        <div class="collapse navbar-collapse" *ngIf="user">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">

                  <div *ngIf="admin; else merchant">
                    
                </div>
                <ng-template #merchant >
                        <span class="navbar-text" >
                                Balance:&nbsp;&nbsp;
                                </span>
                    <div   *ngIf="runningb && runningb.CNY ">              
                    <span class="navbar-text" >
                        {{runningb.CNY}} CNY&nbsp;&nbsp;
                    </span>
                </div>
                <div   *ngIf="runningb && runningb.THB ">
                        <span class="navbar-text" >
                        {{runningb.THB}} THB&nbsp;&nbsp;
                        </span>
                    </div>
            </ng-template>

                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{ user }} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</a>
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }} </a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>
