<!-- comment out first, replace with mockups initially 
<h2>My payinbts</h2>
<div>

                <div class="card-block table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let payinbt of payinbts">
                            <th scope="row">{{payinbt.id}}</th>
                            <td>{{payinbt.firstname}}</td>
                            <td>{{payinbt.lastname}}</td>
                        </tr>

                        <tr >
                            <th scope="row">fddf</th>
                            <td>fd</td>
                            <td>sdfdfsf</td>
                        </tr>                        
                        </tbody>
                    </table>
                </div>
</div>
-->

<div class="page-header">
        <h4 class="text-muted">Merchant Rates</h4>
        <hr>       
</div>
    
<button type="button" class="btn btn btn-secondary">Export to CSV</button>


<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <form [formGroup]="RateForm" (ngSubmit)="addRate(RateForm.value)">
        <div class="modal-header">
                <h1 class="text-muted">Add Rate</h1>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
            <div class="d-inline-block ">
                <h3>Effective Date:</h3>
                <p-calendar [(ngModel)]="effectivedatefrom" showTime="true" hourFormat="24" name="effectivedatefrom" formControlName="effectivedatefrom"></p-calendar>
              </div>
              </div>
            <div class="form-group">
              <h1>Transaction Type</h1>
              <select [(ngModel)]="transactiontype" formControlName="transactiontype" class="form-control">
                <option>PAYIN</option>
                <option>PAYOUT</option>
                <option>SETTLEMENT</option>
              </select>
            </div>
            <div class="form-group">
                <label for="percentage">Percentage:</label>
                <input [(ngModel)]="percentage" type="text" class="form-control" id="percentage" formControlName="percentage">
         </div>            
            <div class="form-group">
                <h1>Payment Method</h1>
                <select [(ngModel)]="paymentmethod" formControlName="paymentmethod" class="form-control">
                    <option>ONLINE_DEBIT</option>
                    <option>BANK_TRANSFER</option>
                </select>
            </div> 
        </div>
        <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>  
        </div>
    </form>
    </div>
    </div>


      </ng-template>

      
      
      <button class="btn btn btn-secondary" (click)="open(content)">Add Rate</button>
      
      <hr>
      <br><br> 
    
    
     <div class="card mb-3">
                    <div class="card-block table-responsive">
                <h3 class="text-muted">Payin Online Debit</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Payment Method</th>
                            <th>Percentage</th>
                            <th>Effective Date</th>
                            <th>Created By</th>                            
                            <th>Created Date</th>
                            <th>Last Modified By</th>
                            <th>Last Modified Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let payinod of payinODrate | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                            <td>
                                {{payinod.id}}
                           </td>
                            <td>{{payinod.paymentMethod}}</td>
                            <td>{{payinod.percentage}}</td>
                            <td>{{payinod.effectiveDateFrom}}</td>
                            <td>{{payinod.createdBy}}</td>
                            <td>{{payinod.createdDate}}</td>
                            <td>{{payinod.lastModifiedBy}}</td>
                            <td>{{payinod.lastModifiedDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        
                        <pagination-controls (pageChange)="getPayinODRates($event)" id="server" ></pagination-controls>
                  </div>
                  <!-- <button type="button" class="btn btn-link" (click)="complete()">Add Rate</button> -->
                </div>

                <div class="card-block table-responsive">
                        <h3 class="text-muted">Payin Bank Transfer</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Payment Method</th>
                                    <th>Percentage</th>
                                    <th>Effective Date</th>
                                    <th>Created By</th>                            
                                    <th>Created Date</th>
                                    <th>Last Modified By</th>
                                    <th>Last Modified Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let payinbt of merchantrate | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                                    <td>
                                        {{payinbt.id}}
                                   </td>
                                    <td>{{payinbt.paymentMethod}}</td>
                                    <td>{{payinbt.percentage}}</td>
                                    <td>{{payinbt.effectiveDateFrom}}</td>
                                    <td>{{payinbt.createdBy}}</td>
                                    <td>{{payinbt.createdDate}}</td>
                                    <td>{{payinbt.lastModifiedBy}}</td>
                                    <td>{{payinbt.lastModifiedDate}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div>
                                
                                <pagination-controls (pageChange)="getPayinBTRates($event)" id="server" ></pagination-controls>
                          </div>
                          <!-- <button type="button" class="btn btn-link" (click)="complete()">Add Rate</button> -->
                        </div>

                <div class="card-block table-responsive">
                        <h3 class="text-muted">Payouts</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Payment Method</th>
                                <th>Percentage</th>
                                <th>Effective Date</th>
                                <th>Created By</th>                            
                                <th>Created Date</th>
                                <th>Last Modified By</th>
                                <th>Last Modified Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let payout of pobtrate | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                                <td>
                                    {{payout.id}}
                               </td>
                                <td>{{payout.paymentMethod}}</td>
                                <td>{{payout.percentage}}</td>
                                <td>{{payout.effectiveDateFrom}}</td>
                                <td>{{payout.createdBy}}</td>
                                <td>{{payout.createdDate}}</td>
                                <td>{{payout.lastModifiedBy}}</td>
                                <td>{{payout.lastModifiedDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            
                            <pagination-controls (pageChange)="getPayoutBTRates($event)" id="server" ></pagination-controls>
                      </div>
                    </div>

                    <div class="card-block table-responsive">
                        <h3 class="text-muted">Settlement</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Payment Method</th>
                                <th>Percentage</th>
                                <th>Effective Date</th>
                                <th>Created By</th>                            
                                <th>Created Date</th>
                                <th>Last Modified By</th>
                                <th>Last Modified Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let settlement of settlementbtrate | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                                <td>
                                    {{settlement.id}}
                               </td>
                                <td>{{settlement.paymentMethod}}</td>
                                <td>{{settlement.percentage}}</td>
                                <td>{{settlement.effectiveDateFrom}}</td>
                                <td>{{settlement.createdBy}}</td>
                                <td>{{settlement.createdDate}}</td>
                                <td>{{settlement.lastModifiedBy}}</td>
                                <td>{{settlement.lastModifiedDate}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            
                            <pagination-controls (pageChange)="getSettlementBTRates($event)" id="server" ></pagination-controls>
                      </div>
                    </div>
            </div>
            <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>