<div class="page-header">
        <h4 class="text-muted">Users</h4>
        <hr>
    </div>
    
    <button type="button" class="btn btn btn-secondary">Export to CSV</button>
    <button class="btn btn btn-secondary" (click)="open(content)">Add Merchant</button>
    <br><br>
    
    <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                    <form [formGroup]="AddMerchantForm" (ngSubmit)="addPost(AddMerchantForm.value)">
            <div class="modal-header">
                    <h1 class="text-muted">Add Merchant</h1>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="row">
                    <div class="col">
                            <label for="code" class="col-form-label">Code:</label>
                            <input [(ngModel)]="code" type="text" class="form-control" id="code" formControlName="code">
                        </div>
                        <div class="col">    
                            <label for="name" class="col-form-label">Full Name:</label>
                            <input [(ngModel)]="name" type="name" class="form-control" id="name" formControlName="name">
                        </div>
                    </div>
                    <div>
                            <label class="col-form-label">Currencies:</label>
                    </div>
                    <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="cny" formControlName="cny"> CNY
                            </label>
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" id="thb" formControlName="thb"> THB
                            </label>
                          </div>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>  
            </div>
        </form>
        </div>
        </div>
    
    
          </ng-template>

          <div class="card mb-3">
                <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Merchant Code</th>
                        <th>Full Name</th>
                        <th>Currencies</th>
                        <th>Created By</th>                            
                        <th>Created Date</th>
                        <th>Last Modified By:</th>
                        <th>Last Modified Date:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of merchant | orderBy: key : reverse | filter:filter | paginate: { id: 'server', itemsPerPage: 10, currentPage: p,totalItems: total}">
                        <td><a routerLink="/merchants/{{m.id}}">{{m.id}}</a></td>
                        <!-- <td>{{m.id}}</td> -->
                        <td>{{m.code}}</td>
                        <td>{{m.fullName}}</td>
                        <td>
                            <ul >
                            <li *ngFor="let currencies of m.currencies">
                                {{currencies}}
                            </li>
                            </ul>

                        </td>
                        <td>{{m.createdBy}}</td>
                        <td>{{m.createdDate}}</td> 
                        <td>{{m.lastModifiedBy}}</td>  
                        <td>{{m.lastModifiedDate}}</td>   
                    </tr>
                    </tbody>
                </table>
                <div>
                    
                    <pagination-controls (pageChange)="getMerchantsNew($event)" id="server" ></pagination-controls>
              </div>
            </div>
        </div>          