<div class="page-header">
        <h4 class="text-muted">Merchant</h4>
        <hr>
</div>



<ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <form [formGroup]="UpdateBalanceForm" (ngSubmit)="UpdateBalance(UpdateBalanceForm.value)">
                                <div class="modal-header">
                                        <h1 class="text-muted">Add / Update Balance</h1>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">

                                        <div class="form-group">
                                                <label for="percentage">Amount:</label>
                                                <input [(ngModel)]="amount" type="text" class="form-control" id="amount"
                                                        formControlName="amount">
                                        </div>

                                        <div class="form-group">
                                                <label for="percentage">Currency:</label>
                                                <select [(ngModel)]="currency" formControlName="currency" class="form-control">
                                                        <option>CNY</option>
                                                        <option>THB</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                        </form>
                </div>
        </div>
</ng-template>

<!--
{"id":1,"code":"MERCHANT123","fullName":"Merchant 123","currencies":["CNY","THB"],"createdBy":"SYSTEM","createdDate":"2017-12-17 00:20:35","lastModifiedBy":"SYSTEM","lastModifiedDate":"2017-12-17 00:20:35"}
        -->
<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">Merchant Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div *ngIf="merchant" class="form-group">
                        <form [formGroup]="MerchantForm" (ngSubmit)="editUser(MerchantForm.value)">
                                <div class="row mb-4">
                                        <div class="col-lg-4">
                                                <label for="transid">ID:</label>
                                                <input type="text" class="form-control" id="transid" formControlName="transid"
                                                        value="{{merchant.id}}" >
                                        </div>
                                        <div class="col-lg-4">
                                                <label for="fullname">Full Name:</label>
                                                <input type="text" class="form-control" id="fullname" formControlName="fullname"
                                                        value="{{merchant.fullName}}" >
                                        </div>
                                        <div class="col-lg-4">
                                                <label for="currencies">Currencies:</label>
                                                <ul class="list-group">
                                                        <li class="list-group-item" id="currencies" *ngFor="let currency of merchant.currencies">
                                                                {{currency}}
                                                        </li>
                                                </ul>
                                        </div>


                                </div>

                                <div class="row mb-4">
                                        <div class="col-lg-3">
                                                <label for="createdby">Created By:</label>
                                                <input type="text" class="form-control" id="createdby" formControlName="createdby"
                                                        value="{{merchant.createdBy}}" >
                                        </div>
                                        <div class="col-lg-3">
                                                <label for="createddate">Created Date:</label>
                                                <input type="text" class="form-control" id="createdby" formControlName="createdby"
                                                        value="{{merchant.createdDate}}" >
                                        </div>
                                        <div class="col-lg-3">
                                                <label for="lastmodifiedby">Last Modified By:</label>
                                                <input type="text" class="form-control" id="lastmodifiedby"
                                                        formControlName="lastmodifiedby" value="{{merchant.lastModifiedBy}}"
                                                        >
                                        </div>
                                        <div class="col-lg-3">
                                                <label for="lastmodifieddate">Last Modified Date:</label>
                                                <input type="text" class="form-control" id="lastmodifieddate"
                                                        formControlName="lastmodifieddate" value="{{merchant.lastModifiedDate}}"
                                                        >
                                        </div>
                                </div>



                        </form>


                </div>
        </div>


</div>

<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">Rate Details</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>
                <div class="form-group">
                        <form [formGroup]="MerchantRateForm">
                                <div>
                                        <label for="inputPassword2">Payin</label>
                                </div>
                                <div class="row">
                                        <div class="col">
                                                <label for="inputPassword2">Bank Transfer</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="payinpercentage"
                                                        formControlName="payinpercentage" value="{{currentpayinBTrate?.percentage}}"
                                                        readonly>
                                        </div>
                                        <div class="col">
                                                <button type="button" class="btn btn-link" (click)="getAllRates()">Add
                                                        / Edit</button>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col">
                                                <label for="inputPassword2">Online Debit</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="payinpercentage"
                                                        formControlName="payinpercentage" value="{{currentpayinODrate?.percentage}}"
                                                        readonly>
                                        </div>
                                        <div class="col">

                                        </div>                                        
                                </div>                                
                                <div>
                                        <label for="inputPassword2">Payout</label>
                                </div>

                                <div class="row">
                                        <div class="col">
                                                <label for="inputPassword2">Bank Transfer</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="payoutpercentage"
                                                        formControlName="payoutpercentage" value="{{currentpayoutrate?.percentage}}"
                                                        readonly>
                                        </div>
                                        <div class="col">

                                        </div>
                                </div>

                                <div>
                                        <label for="inputPassword2">Settlement</label>
                                </div>

                                <div class="row">
                                        <div class="col">
                                                <label for="inputPassword2">Bank Transfer</label>
                                        </div>
                                        <div class="col">
                                                <input type="text" class="form-control" id="settlementpercentage"
                                                        formControlName="settlementpercentage" value="{{currentsettlementrate?.percentage}}"
                                                        readonly>
                                        </div>
                                        <div class="col">

                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>

<div class="card mb-3">
        <div class="card-header">
                <h3 class="mb-0">Balance</h3>
        </div>
        <div class="card-block table-responsive">

                <table class="table table-striped">
                        <thead>
                                <tr>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>

                                </tr>
                        </tbody>
                </table>

                <div class="form-group">
                        <form [formGroup]="MerchantBalanceForm">
                                <div class="row" *ngIf="runningb && runningb.CNY ">

                                        <div class="col">
                                                <input type="text" class="form-control" id="balance" formControlName="balance"
                                                        value=" {{runningb.CNY}} CNY" readonly>
                                        </div>
                                        <div class="col">
                                                <button type="button" class="btn btn-link" (click)="open(content)">Add
                                                        / Edit</button>
                                        </div>
                                </div>

                                <div class="row" *ngIf="runningb && runningb.THB ">

                                        <div class="col">
                                                <input type="text" class="form-control" id="balance" formControlName="balance"
                                                        value=" {{runningb.THB}} THB" readonly>
                                        </div>
                                        <div class="col">
                                                <button type="button" class="btn btn-link" (click)="open(content)">Add
                                                        / Edit</button>
                                        </div>
                                </div>

                                <div class="row" *ngIf="runningb">
                                        <div class="col" *ngIf="runningb.CNY && runningb.THB ">
                                                <input type="text" class="form-control" id="balance" formControlName="balance"
                                                        value="" readonly>
                                        </div>
                                        <div class="col" *ngIf="runningb.CNY && runningb.THB ">
                                                <button type="button" class="btn btn-link" (click)="open(content)">Add
                                                        / Edit</button>
                                        </div>
                                </div>

                                <div class="row" *ngIf="runningb && !runningb.THB && !runningb.CNY">

                                        <div class="col">
                                                <input type="text" class="form-control" id="balance" formControlName="balance"
                                                        value=" " readonly>
                                        </div>
                                        <div class="col">
                                                <button type="button" class="btn btn-link" (click)="open(content)">Add
                                                        / Edit</button>
                                        </div>
                                </div>
                        </form>
                        <button type="button" class="btn btn-link" (click)="goBack()">Cancel</button>
                </div>
        </div>