<div>
    <div class="page-header">
        <h1 class="text-muted">Transaction Summary </h1>
        <hr>
    </div>

    
    <div *ngIf="admin; else merchant">
        <div class="page-header">
            <h4 class="text-muted">Payin Transaction Summary</h4>
            <hr>
        </div>
        <div class="card mb-3">
            <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Merchant</th>
                            <th>Payment Method</th>
                            <th>Currency</th>
                            <th>Pending</th>
                            <th>Completed</th>
                            <th>Cancelled</th>
                            <th>Success Rate</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let s of payinsummary"> 
                            <ng-container *ngFor="let b of s.breakdowns">
                                <tr>
                                <td>{{s.merchantCode}}</td>
                                <td>{{b.paymentMethod}}</td>
                                <td>{{b.currency}}</td>
                                <td>{{b.counts.PENDING}}</td>
                                <td>{{b.counts.DECLINED}}</td>
                                <td>{{b.counts.COMPLETED}}</td>
                                <td>{{b.successRatePercentage}}</td>
                                <td>{{b.totalCount}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-header">
                <h4 class="text-muted">Payout Transaction Summary</h4>
                <hr>
            </div>
            <div class="card mb-3">
                <div class="card-block table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Merchant</th>
                                <th>Payment Method</th>
                                <th>Currency</th>
                                <th>Pending</th>
                                <th>Completed</th>
                                <th>Cancelled</th>
                                <th>Success Rate</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let s of payoutsummary"> 
                                <ng-container *ngFor="let b of s.breakdowns">
                                    
                                    <td>{{s.merchantCode}}</td>
                                    <td>{{b.paymentMethod}}</td>
                                    <td>{{b.currency}}</td>
                                    <td>{{b.counts.PENDING}}</td>
                                    <td>{{b.counts.DECLINED}}</td>
                                    <td>{{b.counts.COMPLETED}}</td>
                                    <td>{{b.successRatePercentage}}</td>
                                    <td>{{b.totalCount}}</td>
                                
                                </ng-container>
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    <ng-template #merchant>
        <div class="page-header">
            <h4 class="text-muted">Payin Transaction Summary</h4>
            <hr>
        </div>
        <div class="card mb-3">
            <div class="card-block table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Merchant</th>
                            <th>Payment Method</th>
                            <th>Currency</th>
                            <th>Pending</th>
                            <th>Completed</th>
                            <th>Cancelled</th>
                            <th>Success Rate</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr *ngFor="let s of payinsummary"> 
                            <ng-container *ngFor="let b of s.breakdowns">
                                
                                <td>{{s.merchantCode}}</td>
                                <td>{{b.paymentMethod}}</td>
                                <td>{{b.currency}}</td>
                                <td>{{b.counts.PENDING}}</td>
                                <td>{{b.counts.DECLINED}}</td>
                                <td>{{b.counts.COMPLETED}}</td>
                                <td>{{b.successRatePercentage}}</td>
                                <td>{{b.totalCount}}</td>
                            
                            </ng-container>
                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="page-header">
                <h4 class="text-muted">Payout Transaction Summary</h4>
                <hr>
            </div>
            <div class="card mb-3">
                <div class="card-block table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Merchant</th>
                                <th>Payment Method</th>
                                <th>Currency</th>
                                <th>Pending</th>
                                <th>Completed</th>
                                <th>Cancelled</th>
                                <th>Success Rate</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let s of payoutsummary"> 
                                <ng-container *ngFor="let b of s.breakdowns">
                                    
                                    <td>{{s.merchantCode}}</td>
                                    <td>{{b.paymentMethod}}</td>
                                    <td>{{b.currency}}</td>
                                    <td>{{b.counts.PENDING}}</td>
                                    <td>{{b.counts.DECLINED}}</td>
                                    <td>{{b.counts.COMPLETED}}</td>
                                    <td>{{b.successRatePercentage}}</td>
                                    <td>{{b.totalCount}}</td>
                                
                                </ng-container>
                            
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</ng-template>




</div>